<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>修改密码</title>
</head>
<body>
	<div class="right_box ">
		<form name="myform">
			<p class="warning">
				温馨提示：
				<span>请不要向他人透露您的账户密码</span>
			</p>

			<p>
				<label for="pwnow">当前密码：</label>
				<span>

					<input id="pwnow"  type="password" placeholder="请输入当前密码" name="passwords" />
				</span>
			</p>

			<p>
				<label for="newpassword">新密码：</label>
				<span>
					<input id="newpassword"  type="password" placeholder="请输入新密码" name="password" />
				</span>
			</p>

			<p>
				<label for="password_r">确认密码：</label>
				<span>
					<input id="password_r"  type="password" placeholder="请再次输入新密码" name="password_r" />

				</span>
			</p>

			<input type="submit" value="修改"></form>
	</div>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>