<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>小土豆</title>
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<div class="nav">
				<div class="min-width clearfix nav-content">

					<div class="logo fl">
						<a href="javascript:">
							<img src="http://ofjpktbeg.bkt.clouddn.com/logo_03.png"></a>
					</div>
					<ul class="fl clearfix index_nav">
						<li>
							<a href="javascript:" class="list_color">首页</a>
						</li>
						<li class="nav-list">
							<a href="javascript:" >找任务</a>
							<dl>
								<dd>
									<a href="javascript:" title="">软件开发</a>
								</dd>
								<dd>
									<a href="javascript:" title="">智能硬件</a>
								</dd>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:"  >开发者</a>
							<dl>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:" >供求信息</a>
							<dl>
								<dd>
									<a href="javascript:" title="">技术共享</a>
								</dd>
								<dd>
									<a href="javascript:" title="">人才供求</a>
								</dd>
								<dd>
									<a href="javascript:" title="">产品合作</a>
								</dd>
								<dd>
									<a href="javascript:" title="">代理销售</a>
								</dd>
								<dd>
									<a href="javascript:" title="">交流活动</a>
								</dd>
							</dl>
						</li>
					</ul>

					<div class="search-box fl">
						<div class="search-wrap">
							<input type="text" name="search-key" placeholder="电子设计 代理">
							<input type="submit" value="" ></div>
					</div>

					<div class="user fr" style="display: none;">
						<div class="user-icon"></div>

						<ul>
							<li>
								<a href="login.html">登录</a>
							</li>
							<li>
								<a href="reg.html">注册</a>
							</dd>

						</ul>

					</div>

					<div class="user fr p_center">

						<a class="user_" href="javascript:">
							<span class="user-p">
								<img src="http://ofjpktbeg.bkt.clouddn.com/p.png"></span>
							<span class="user_name">早茶月光</span>
						</a>

						<span class="login_out">退出</span>

					</div>

				</div>

			</div>
		</div>
		<div id="banner" class="banner clearfix">
			<div id="banner_list" class="banner-pic">
				<a class="pic" href="javascript:">
					<img src="http://ofjpktbeg.bkt.clouddn.com/banner_02.png"></a>
				<a class="pic" href="javascript:">
					<img src="http://ofjpktbeg.bkt.clouddn.com/banner_02 - 副本 (2).png"></a>
				<a class="pic" href="javascript:">
					<img src="http://ofjpktbeg.bkt.clouddn.com/banner_02 - 副本.png"></a>

			</div>
			<ul class="banner-btn">

				<li class="on"></li>
				<li></li>
				<li></li>
			</ul>

		</div>

		<div id="main-content">
			<div class="min-width">
				<div class="content-item content-item1 clearfix">
					<a href="javascript:">
						<h3 class="main-title ">最新内容</h3>
					</a>

					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/tool_03.png" />
							<figcaption>
								<h3 class="f_title">
									mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具
								</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩 <b>10</b>
										天)
									</span>
								</p>
								<h3 class="price"> <b>￥</b>
									1599.00
								</h3>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/tool_03.png" />
							<figcaption>
								<h3 class="f_title">
									mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具
								</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩
										<b>10</b>
										天)
									</span>
								</p>
								<h3 class="price">
									<b>￥</b>
									1599.00
								</h3>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/tool_03.png" />
							<figcaption>
								<h3 class="f_title">
									mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具
								</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩
										<b>10</b>
										天)
									</span>
								</p>
								<h3 class="price">
									<b>￥</b>
									1599.00
								</h3>
							</figcaption>

						</figure>
					</a>
					<a class="figure-wrap" href="javascript:">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/tool_03.png" />
							<figcaption>
								<h3 class="f_title">
									mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具
								</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩
										<b>10</b>
										天)
									</span>
								</p>
								<h3 class="price">
									<b>￥</b>
									1599.00
								</h3>
							</figcaption>

						</figure>
					</a>
					<a class="figure-wrap" href="javascript:">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/tool_03.png" />
							<figcaption>
								<h3 class="f_title">
									mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具
								</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩
										<b>10</b>
										天)
									</span>
								</p>
								<h3 class="price">
									<b>￥</b>
									1599.00
								</h3>
							</figcaption>

						</figure>
					</a>
					<a class="figure-wrap" href="javascript:">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/tool_03.png" />
							<figcaption>
								<h3 class="f_title">
									mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具
								</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩
										<b>10</b>
										天)
									</span>
								</p>
								<h3 class="price">
									<b>￥</b>
									1599.00
								</h3>
							</figcaption>

						</figure>
					</a>
				</div>

				<div class="content-item content-item2">
					<a href="javascript:">
						<h3 class="main-title">最新供求</h3>
					</a>

					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/type.png" />
							<p class="tip sp">供</p>
							<figcaption>
								<h3 class="f_title">蓝牙音乐灯控制模块蓝牙音乐灯控制模块蓝牙音乐灯控制模块</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="price">
										<b>￥</b>
										1599.00
									</span>
								</p>
								<div class="people">
									<span class="user-p">
										<img src="../imgs/p.png"></span>
									<span class="user-name">早茶月光</span>
								</div>
							</figcaption>

						</figure>
					</a>

					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/type.png" />
							<p class="tip sp">供</p>
							<figcaption>
								<h3 class="f_title">蓝牙音乐灯控制模块蓝牙音乐灯控制模块蓝牙音乐灯控制模块</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="price">
										<b>￥</b>
										1599.00
									</span>
								</p>
								<div class="people">
									<span class="user-p">
										<img src="../imgs/p.png"></span>
									<span class="user-name">早茶月光</span>
								</div>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/type.png" />
							<p class="tip rc">求</p>
							<figcaption>
								<h3 class="f_title">蓝牙音乐灯控制模块蓝牙音乐灯控制模块蓝牙音乐灯控制模块</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="price">
										<b>￥</b>
										1599.00
									</span>
								</p>
								<div class="people">
									<span class="user-p">
										<img src="../imgs/p.png"></span>
									<span class="user-name">早茶月光</span>
								</div>
							</figcaption>

						</figure>
					</a>

					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/type.png" />
							<p class="tip rc">求</p>
							<figcaption>
								<h3 class="f_title">蓝牙音乐灯控制模块蓝牙音乐灯控制模块蓝牙音乐灯控制模块</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="price">
										<b>￥</b>
										1599.00
									</span>
								</p>
								<div class="people">
									<span class="user-p">
										<img src="../imgs/p.png"></span>
									<span class="user-name">早茶月光</span>
								</div>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/type.png" />
							<p class="tip rc">求</p>
							<figcaption>
								<h3 class="f_title">蓝牙音乐灯控制模块蓝牙音乐灯控制模块蓝牙音乐灯控制模块</h3>
								<p class="time_box">
									<span class="time">2016-11-31</span>
									<span class="price">
										<b>￥</b>
										1599.00
									</span>
								</p>
								<div class="people">
									<span class="user-p">
										<img src="../imgs/p.png"></span>
									<span class="user-name">早茶月光</span>
								</div>
							</figcaption>

						</figure>
					</a>
				</div>

				<div class="content-item content-item3">
					<a href="javascript:">
						<h3 class="main-title">明星开发者</h3>
					</a>

					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/portrait.png" />
							<figcaption>
								<h3 class="f_title">早茶月光</h3>
								<p>擅领域：技术开发</p>
								<p>行业经验：3年</p>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/portrait.png" />
							<figcaption>
								<h3 class="f_title">早茶月光</h3>
								<p>擅领域：技术开发</p>
								<p>行业经验：3年</p>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/portrait.png" />
							<figcaption>
								<h3 class="f_title">早茶月光</h3>
								<p>擅领域：技术开发</p>
								<p>行业经验：3年</p>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/portrait.png" />
							<figcaption>
								<h3 class="f_title">早茶月光</h3>
								<p>擅领域：技术开发</p>
								<p>行业经验：3年</p>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/portrait.png" />
							<figcaption>
								<h3 class="f_title">早茶月光</h3>
								<p>擅领域：技术开发</p>
								<p>行业经验：3年</p>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/portrait.png" />
							<figcaption>
								<h3 class="f_title">早茶月光</h3>
								<p>擅领域：技术开发</p>
								<p>行业经验：3年</p>
							</figcaption>

						</figure>
					</a>
					<a href="javascript:" class="figure-wrap">
						<figure class="main-items">
							<img src="http://ofjpktbeg.bkt.clouddn.com/portrait.png" />
							<figcaption>
								<h3 class="f_title">早茶月光</h3>
								<p>擅领域：技术开发</p>
								<p>行业经验：3年</p>
							</figcaption>

						</figure>
					</a>
				</div>

				<div class="content-item content-item3 ">
					<a href="javascript:">
						<h3 class="main-title">合作伙伴</h3>
					</a>
					<div class="partner clearfix">
						<a href="javascript:" title="京东">
							<img src="http://ofjpktbeg.bkt.clouddn.com/pt_02.png"></a>
						<a href="javascript:" title="京东">
							<img src="../imgs/partner/pt_03.png"></a>
						<a href="javascript:" title="京东">
							<img src="../imgs/partner/pt_04.png"></a>
						<a href="javascript:" title="京东">
							<img src="../imgs/partner/pt_05.png"></a>
						<a href="javascript:" title="京东">
							<img src="../imgs/partner/pt_06.png"></a>
						<a href="javascript:" title="京东">
							<img src="../imgs/partner/pt_07.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_08.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_09.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_10.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_11.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_12.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_13.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_14.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_15.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_16.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_17.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_18.png"></a>
						<a href="javascript:">
							<img src="../imgs/partner/pt_19.png"></a>

					</div>
				</div>

			</div>
		</div>

		<div id="footer">

			<div class="info">
				<ul class="clearfix">

					<li>
						<a href="javascript:">
							<p>新手指南</p>
							<p class="n">Newbie guide</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>帮助中心</p>
							<p class="n">Help center</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>规则中心</p>
							<p class="n">Rules of the center</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>关于我们</p>
							<p class="n">About us</p>
						</a>
					</li>

				</ul>

			</div>
			<div class="bottom">
				<p>云南小土豆机器人科技有限公司</p>
				<p>Copyright © 2015-2016  All Rights Reserved.京ICP备23890840号</p>
			</div>
		</div>

	</div>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

</body>
</html>