<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>个人中心</title>
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<div class="nav">
				<div class="min-width clearfix nav-content">

					<div class="logo fl">
						<a href="javascript:">
							<img src="../imgs/logo_03.png"></a>
					</div>
					<ul class="fl clearfix my_nav">
						<li>
							<a href="javascript:" class="list_color">首页</a>
						</li>
						<li class="nav-list">
							<a href="javascript:" >找任务</a>
							<dl>
								<dd>
									<a href="javascript:" title="">软件开发</a>
								</dd>
								<dd>
									<a href="javascript:" title="">智能硬件</a>
								</dd>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:"  >开发者</a>
							<dl>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:" >供求信息</a>
							<dl>
								<dd>
									<a href="javascript:" title="">技术共享</a>
								</dd>
								<dd>
									<a href="javascript:" title="">人才供求</a>
								</dd>
								<dd>
									<a href="javascript:" title="">产品合作</a>
								</dd>
								<dd>
									<a href="javascript:" title="">代理销售</a>
								</dd>
								<dd>
									<a href="javascript:" title="">交流活动</a>
								</dd>
							</dl>
						</li>
					</ul>

					<div class="search-box fl">
						<div class="search-wrap">
							<input type="text" name="search-key" placeholder="电子设计 代理">
							<input type="submit" value="" ></div>
					</div>

					<div class="user fr" style="display: none;">
						<div class="user-icon"></div>

						<ul>
							<li>
								<a href="login.html">登录</a>
							</li>
							<li>
								<a href="reg.html">注册</a>
							</dd>

						</ul>

					</div>

					<div class="user fr p_center">

						<a class="user_" href="javascript:">
							<span class="user-p">
								<img src="../imgs/p.png"></span>
							<span class="user_name">早茶月光</span>
						</a>

						<span class="login_out">退出</span>

					</div>

				</div>

			</div>
		</div>

		<div id="my_content" class="min-width clearfix">
			<div class="left_list fl">
				<ul>

						<li class="left_color bk_color"><a class="my_home" href="pCenter.html" target="myFrameName">个人中心</a></li>
					
					<li class="left_color">接收的任务</li>
					<li  class="triangle_list">
						<span class="list_name">
							我的账户
							<span class="triangle"></span>

						</span>
						<dl>
							<dd>收藏的任务</dd>
							<dd>收藏的供求信息</dd>
						</dl>

					</li>
					<li class="left_color">我的消息</li>
					<li class="triangle_list">
						<span class="list_name">
							我的收藏
							<span class="triangle"></span>
							</span>
								<dl>
									<dd >收藏的任务</dd>
									<dd >收藏的供求信息</dd>
								</dl>

							</li>
							<li class="triangle_list">
								<span class="list_name">
									供求信息管理
									<span class="triangle"></span>
								</span>
								<dl>
									<dd> <a href="index.html" target="myFrameName">收藏的任务</a></dd>
									<dd>收藏的供求信息</dd>
								</dl>

							</li>
						</ul>

					</div>


<iframe id="myFrameId1" name="myFrameName"  frameborder="0" ></iframe> 	


				</div>





				<div id="footer">

					<div class="info">
						<ul class="clearfix">

							<li>
								<a href="javascript:">
									<p>新手指南</p>
									<p class="n">Newbie guide</p>
								</a>
							</li>
							<li>
								<a href="javascript:">
									<p>帮助中心</p>
									<p class="n">Help center</p>
								</a>
							</li>
							<li>
								<a href="javascript:">
									<p>规则中心</p>
									<p class="n">Rules of the center</p>
								</a>
							</li>
							<li>
								<a href="javascript:">
									<p>关于我们</p>
									<p class="n">About us</p>
								</a>
							</li>

						</ul>

					</div>
					<div class="bottom">
						<p>云南小土豆机器人科技有限公司</p>
						<p>Copyright © 2015-2016  All Rights Reserved.京ICP备23890840号</p>
					</div>
				</div>

			</div>
			<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
			<script src="scripts/page.js"></script>
</body>
		</html>