<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>已读消息</title>
</head>
<body>
	<div class="message_box ">
		<div class="message_title">
			<a href="mymessage.html" target="myFrameName">
				<span class=" meg_btn">未读</span>
			</a>

			<a href="mymessageread.html" target="myFrameName">
				<span class="meg_btn message_active">已读</span>
			</a>
			<a href="mymessagere.html" target="myFrameName">
				<span class="meg_btn">回复</span>
			</a>

		</div>

		<div class="message_content">

			<figure>
				<span class="checkbox_wrap">
					<input class="checkone check" type="checkbox" id="cbtest1"  />
					<label for="cbtest1" class="check-box"></label>
				</span>
				<a href="javascript:" title="username">
					<img class="user_p" src="../imgs/type.png" />
				</a>

				<a href="javascript:">
					<figcaption>

						<p class="time">
							发送时间：
							<span>2013.01.23</span>
						</p>
						<p class="content">
							提供求職者各行業職缺，各類專區分享職場資訊及工作甘苦談,歡迎加入討論區；履歷健診能幫您找到理想工作、特色專區能讓您瞭解如何突破 ..
						</p>
					</figcaption>
				</a>

			</figure>
						<figure>
				<span class="checkbox_wrap">
					<input class="checkone check" type="checkbox" id="cbtest2"  />
					<label for="cbtest2" class="check-box"></label>
				</span>
				<a href="javascript:" title="username">
					<img class="user_p" src="../imgs/type.png" />
				</a>

				<a href="javascript:">
					<figcaption>

						<p class="time">
							发送时间：
							<span>2013.01.23</span>
						</p>
						<p class="content">
							提供求職者各行業職缺，各類專區分享職場資訊及工作甘苦談,歡迎加入討論區；履歷健診能幫您找到理想工作、特色專區能讓您瞭解如何突破 ..
						</p>
					</figcaption>
				</a>

			</figure>
						<figure>
				<span class="checkbox_wrap">
					<input class="checkone check" type="checkbox" id="cbtest3"  />
					<label for="cbtest3" class="check-box"></label>
				</span>
				<a href="javascript:" title="username">
					<img class="user_p" src="../imgs/type.png" />
				</a>

				<a href="javascript:">
					<figcaption>

						<p class="time">
							发送时间：
							<span>2013.01.23</span>
						</p>
						<p class="content">
							提供求職者各行業職缺，各類專區分享職場資訊及工作甘苦談,歡迎加入討論區；履歷健診能幫您找到理想工作、特色專區能讓您瞭解如何突破 ..
						</p>
					</figcaption>
				</a>

			</figure>
						<figure>
				<span class="checkbox_wrap">
					<input class="checkone check" type="checkbox" id="cbtest4"  />
					<label for="cbtest4" class="check-box"></label>
				</span>
				<a href="javascript:" title="username">
					<img class="user_p" src="../imgs/type.png" />
				</a>

				<a href="javascript:">
					<figcaption>

						<p class="time">
							发送时间：
							<span>2013.01.23</span>
						</p>
						<p class="content">
							提供求職者各行業職缺，各類專區分享職場資訊及工作甘苦談,歡迎加入討論區；履歷健診能幫您找到理想工作、特色專區能讓您瞭解如何突破 ..
						</p>
					</figcaption>
				</a>

			</figure>
<!-- 		<div class="action">
			

							<span class="checkbox_wrap">
					<input class="checkall check" type="checkbox" id="cbtest5"  />
					<label for="cbtest5"  class="check-box"></label>
					<label for="cbtest5" class="chos">全选</label>

				</span>
				<input type="button" class="mark" value="标记为已读" name="" />
				<input type="button" class="delete" value="删除" name="" />

		</div> -->

	</div>

</div>
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>