<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>我的收藏</title>
</head>
<body>
	<div class=" table_box">

		<div class="search_box">
			<form>

				<input type="text" placeholder="输入任务编号" name="" />
				<input type="text" placeholder="任务名称" name="" />
				<select>
					<option>1</option>
					<option>1</option>
					<option>1</option>
					<option>1</option>
					<option>1</option>
				</select>
				<input type="submit" class="search_btn"  value="搜索" name="" />

			</form>
		</div>
		<table>

			<tr>
				<th>编号</th>
				<th>标题</th>
			
				<th>发布时间</th>
				<th>状态</th>
				<th>操作</th>

			</tr>
			<tr>
				<td>1111111111</td>
				<td>中国最牛股票详情软件开发</td>

				<td>2016.20.10</td>
				<td>工作中工作中工作中</td>
				<td>
					<a href="javascript:">编辑</a>
					<a href="javascript:">编辑</a>
				</td>
			</tr>
			<tr>
				<td>1111111111</td>
				<td>中国最牛股票详情软件开发中国最牛股票详情软件开发</td>

				<td>2016.20.10</td>
				<td>工作中</td>
				<td>
					<a href="javascript:">编辑</a>
				</td>
			</tr>
			<tr>
				<td>1111111111</td>
				<td>中国最牛股票详情软件开发</td>

				<td>2016.20.10</td>
				<td>工作中</td>
				<td>
					<a href="javascript:">编辑</a>
				</td>
			</tr>
			<tr>
				<td>1111111111</td>
				<td>中国最牛股票详情软件开发</td>

				<td>2016.20.10</td>
				<td>工作中</td>
				<td>
					<a href="javascript:">编辑</a>
				</td>
			</tr>
			<tr>
				<td>1111111111</td>
				<td>中国最牛股票详情软件开发</td>

				<td>2016.20.10</td>
				<td>工作中</td>
				<td>
					<a href="javascript:">编辑</a>
				</td>
			</tr>
			<tr>
				<td>1111111111</td>
				<td>中国最牛股票详情软件开发</td>

				<td>2016.20.10</td>
				<td>工作中</td>
				<td>
					<a href="javascript:">编辑</a>
				</td>
			</tr>
			<tr>
				<td>1111111111</td>
				<td>中国最牛股票详情软件开发</td>

				<td>2016.20.10</td>
				<td>工作中</td>
				<td>
					<a href="javascript:">编辑</a>
				</td>
			</tr>

		</table>
		<div class="index-page clearfix" id="pageBox"></div>
		<!-- page.js  文件 -->

	</div>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="scripts/page.js"></script>
</body>
</html>