<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>个人中心</title>
</head>
<body>
				<div class="right_box ">
					<div class="my_info">
						<figure>
								<img src="../imgs/t1.png" />
<figcaption>
	<h3 class="user_name">哈哈哈哈哈哈</h3>
	<p class="phone">手机： <span>1252222222</span>  <a href="index.html">修改</a> </p>
	<p class=name>我的姓名：<span>哈哈哈</span><a href="javascript:">去认证</a></p>
	<p>余额 <span>5000.00</span><a href="javascript:">充值</a><a href="javascript:">提现</a> </p>
	<p class="password">密码： <span>*********</span>  <a href="javascript:">修改</a></span> </p>
	<p>个人描述：<span>这个人很懒,什么都没留下什么都没留下什么都没留下什么都没留下什么都没留下什么都没留下</span> </p>
</figcaption>
						</figure>
					
					</div>
				</div>
			<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
			<script src="scripts/page.js"></script>
</body>
		</html>