<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
<head>
	<meta charset="utf-8">

	<title>找任务</title>
</head>
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<div class="nav">
				<div class="min-width clearfix nav-content">

					<div class="logo fl">
						<a href="javascript:">
							<img src="../imgs/logo_03.png"></a>
					</div>
<div class="user fr common_user" style="display: none;">
						<div class="user-icon"></div>

						<ul>
							<li>
								<a href="login.html">登录</a>
							</li>
							<li>
								<a href="reg.html">注册</a>
							</dd>

						</ul>

					</div>

					<div class="user fr p_center">

						<a class="user_" href="javascript:">
							<span class="user-p">
								<img src="../imgs/p.png"></span>
							<span class="user_name">早茶月光</span>
						</a>

						<span class="login_out">退出</span>

					</div>
					<ul class=" clearfix common_nav">
						<li>
							<a href="javascript:">首页</a>
						</li>
						<li class="nav-list">
							<a href="javascript:" class="list_color">找任务</a>
							<dl>
								<dd>
									<a href="javascript:" title="">软件开发</a>
								</dd>
								<dd>
									<a href="javascript:" title="">智能硬件</a>
								</dd>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:"  >开发者</a>
							<dl>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:" >供求信息</a>
							<dl>
								<dd>
									<a href="javascript:" title="">技术共享</a>
								</dd>
								<dd>
									<a href="javascript:" title="">人才供求</a>
								</dd>
								<dd>
									<a href="javascript:" title="">产品合作</a>
								</dd>
								<dd>
									<a href="javascript:" title="">代理销售</a>
								</dd>
								<dd>
									<a href="javascript:" title="">交流活动</a>
								</dd>
							</dl>
						</li>
					</ul>

				</div>

			</div>
		</div>

		<div id="task_main" class="min-width">
			<div class="tips ">
				<p>
					您还没有登录,暂时不能接包或发包,请
					<span class="login">
						<a href="javascript:">登录</a>
					</span>
				</p>
				<div class="close "></div>
			</div>

			<div class="task_filter">

				<div class="is_filter">

					<a href="javascript:">
						<span class="task_type">任务类型：</span>
					</a>
					<a href="javascript:">
						<span class="task_type_name">技术开发</span>
					</a>
					<span class="filter_group">

						<a href="javascript:">
							<span class="group1 group">机器人外观</span>
						</a> <b>/</b>

						<a href="javascript:">
							<span class="group2 group">内部设计</span>
						</a>
					</span>
					<a href="javascript:">
						<span class="group3 group">周边配件产品</span>
					</a>

				</div>

				<div class="filter_box clearfix">
					<a href="javascript:">
						<span class="task_type">任务筛选：</span>
					</a>
					<form class="filter_ ">

						<select>

							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>

						</select>
                                    <div class="form-group  w140 datepicker_box" >
                                        <input type="text" name="datepicker" id="datetimepicker3" class="form-control" placeholder ="请选择发布时间" readonly="readonly">
                                    </div>

						<select>

							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>

						</select>

						<div class="search-box fr">
							<div class="search-wrap">
								<input type="text" name="search-key" placeholder="电子设计 代理">
								<input type="submit" value="" />
							</div>
						</div>

					</form>
				</div>
				<div class="today_n">
					<p class="today_task">
						今日发布任务
						<span class="task_num num">20</span>
					</p>
					<p class="all_task">
						今日发布任务
						<span class="all_num num">200000</span>
					</p>
					<input type="button" value="立即发包" />
				</div>
			</div>

			<div class="task_content">
				<div class="item_box clearfix">

						<figure class="main-items">
							<img src="../imgs/task_tool_07.png" />
							<p class="type">开发</p>
							<figcaption>
							<a href="javascript:">
									<span class="f_title">
										mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具
									</span>
									<span class="state1">已付托管金</span>
									
								</a>
								<p>
									发包方：
									<span>xxxxxxxxxxxx</span>
								</p>
								<p class="time_box">
									有效期至：
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩 <b>10</b>
										天)
									</span>
								</p>
								<p>
									发布地区：
									<span>北京</span>
								</p>
							</figcaption>

						</figure>

						<div class="right_info fr">
							<h3 class="price">
								<b>￥</b>
								1599.00
							</h3>
							<p class="state">招募中</p>
							<p class="time">2016-11-31</p>
							<p class="unt">
								已有
								<span class="num">6</span>
								人申请
							</p>

						</div>

					</div>
									<div class="item_box clearfix">

						<figure class="main-items">
							<img src="../imgs/task_tool_10.png" />
							<p class="type">开发</p>
							<figcaption>
							<a href="javascript:">
									<span class="f_title">
										mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具
									</span>
									<span class="state2">已付托管金</span>
								</a>
								<p>
									发包方：
									<span>xxxxxxxxxxxx</span>
								</p>
								<p class="time_box">
									有效期至：
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩 <b>10</b>
										天)
									</span>
								</p>
								<p>
									发布地区：
									<span>北京</span>
								</p>
							</figcaption>

						</figure>

						<div class="right_info fr">
							<h3 class="price">
								<b>￥</b>
								1599.00
							</h3>
							<p class="state">招募中</p>
							<p class="time">2016-11-31</p>
							<p class="unt">
								已有
								<span class="num">6</span>
								人申请
							</p>

						</div>

					
					</div>
									<div class="item_box clearfix">

									
						<figure class="main-items">
							<img src="../imgs/task_tool_03.png" />
							<p class="type">开发</p>
							<figcaption>
								<a href="javascript:">
									<span class="f_title">
										mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具
									</span>
									<span class="state2">已付托管金</span>
								</a>
								<p>
									发包方：
									<span>xxxxxxxxxxxx</span>
								</p>
								<p class="time_box">
									有效期至：
									<span class="time">2016-11-31</span>
									<span class="surplus">
										(还剩 <b>10</b>
										天)
									</span>
								</p>
								<p>
									发布地区：
									<span>北京</span>
								</p>
							</figcaption>

						</figure>

						<div class="right_info fr">
							<h3 class="price">
								<b>￥</b>
								1599.00
							</h3>
							<p class="state">招募中</p>
							<p class="time">2016-11-31</p>
							<p class="unt">
								已有
								<span class="num">6</span>
								人申请
							</p>

						</div>

				

				</div>
    <div class="index-page" id="pageBox"></div>  <!-- page.js  文件 -->

			</div>

		</div>
		<div id="footer">

			<div class="info">
				<ul class="clearfix">

					<li>
						<a href="javascript:">
							<p>新手指南</p>
							<p class="n">Newbie guide</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>帮助中心</p>
							<p class="n">Help center</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>规则中心</p>
							<p class="n">Rules of the center</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>关于我们</p>
							<p class="n">About us</p>
						</a>
					</li>

				</ul>

			</div>
			<div class="bottom">
			<p>云南小土豆机器人科技有限公司</p>
			<p>Copyright © 2015-2016  All Rights Reserved.京ICP备23890840号</p>
			</div>
		</div>

	</div>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="scripts/datetimepick.js"></script>
	<script src="scripts/selectUi.js"></script>

	<script src="scripts/page.js"></script>

</body>
</html>