<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
<head>
	<meta charset="utf-8">

	<title>任务详情</title>
</head>
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<div class="nav">
				<div class="min-width clearfix nav-content">

					<div class="logo fl">
						<a href="javascript:">
							<img src="../imgs/logo_03.png"></a>
					</div>
		<div class="user fr common_user" style="display: none;">
						<div class="user-icon"></div>

						<ul>
							<li>
								<a href="login.html">登录</a>
							</li>
							<li>
								<a href="reg.html">注册</a>
							</dd>

						</ul>

					</div>

					<div class="user fr p_center">

						<a class="user_" href="javascript:">
							<span class="user-p">
								<img src="../imgs/p.png"></span>
							<span class="user_name">早茶月光</span>
						</a>

						<span class="login_out">退出</span>

					</div>
					<ul class=" clearfix common_nav">
						<li>
							<a href="javascript:">首页</a>
						</li>
						<li class="nav-list">
							<a href="javascript:" class="list_color">找任务</a>
							<dl>
								<dd>
									<a href="javascript:" title="">软件开发</a>
								</dd>
								<dd>
									<a href="javascript:" title="">智能硬件</a>
								</dd>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:"  >开发者</a>
							<dl>
								<dd>
									<a href="javascript:" title="">电子设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">机械设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">外观设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">内部设计</a>
								</dd>
								<dd>
									<a href="javascript:" title="">配套产品</a>
								</dd>
								<dd>
									<a href="javascript:" title="">周边服务</a>
								</dd>
							</dl>
						</li>
						<li class="nav-list">
							<a href="javascript:" >供求信息</a>
							<dl>
								<dd>
									<a href="javascript:" title="">技术共享</a>
								</dd>
								<dd>
									<a href="javascript:" title="">人才供求</a>
								</dd>
								<dd>
									<a href="javascript:" title="">产品合作</a>
								</dd>
								<dd>
									<a href="javascript:" title="">代理销售</a>
								</dd>
								<dd>
									<a href="javascript:" title="">交流活动</a>
								</dd>
							</dl>
						</li>
					</ul>

				</div>

			</div>

		</div>
		<div id="details" class="min-width">

			<div class="detail_content clearfix">

				<figure class="main-items">
					<img src="http://ofjpktbeg.bkt.clouddn.com/task_tool_07.png" />
					<p class="type">开发</p>
					<figcaption>
						<a href="javascript:">
							<span class="f_title">
								mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具mac系统上的csr8670的dfu升级工具mac系统上mac系统上的csr8670的dfu升级工具
							</span>

						</a>
						<p class="price">
							项目金额：
							<span class="yuan">￥16666.00</span>
							<span class="state2">已付托管金</span>

						</p>
						<p class="time_box">
							有效期至：
							<span class="time">2016-11-31</span>
							<span class="surplus">
								(还剩 <b>10</b>
								天)
							</span>
						</p>
						<p>
							发布地区：
							<span>北京</span>
						</p>
						<p>
							发布时间
							<span>2016-11-31</span>
						</p>

						<div class="right_info">

							<p class="state">招募中</p>
							<p class="unt">
								已有
								<span class="num">6</span>
								人申请
							</p>
						</div>

					</figcaption>

				</figure>

				<div class="person clearfix">

					<div class="t">
						<img src="../imgs/p.png">
						<span class="user_name">早茶月光</span>
						<p class="user_icon">
							<span class="ren">认</span>
							<span class="ding">订</span>

						</p>
					</div>

					<ul class="clearfix">

						<li>
							<p class="num">2323233</p>
							<p class="text">已发任务</p>
						</li>
						<li>
							<p class="num">2323233万</p>
							<p class="text">总发布金额</p>
						</li>
						<li>
							<p class="num">2323233</p>
							<p class="text">一合作人数</p>
						</li>

					</ul>

				</div>

			</div>
			<div class="desc">
				<h3 class="desc_title task_title">最新供求</h3>
				<p class="des_content">
					本人开发电池供电的带有红外遥控功能的设备，需要待机功耗在微安级别的红外接收电路，目前现有的红外接收头功耗偏高，无法满足需求。该电路实现的功能与红外接收头相同（以高低电平的形式输出接收到的信号），传感器部分可使用红外接收管或硅光电池，只需给出电路设计方案和可供演示的硬件电路。（功耗低于0.5mA）
				</p>
			</div>

			<div class="file">
				<h3 class=" task_title">任务附件</h3>
				<ul class="clearfix">

					<li>
						<div class="img_box"><img src="http://ofjpktbeg.bkt.clouddn.com/file_03.png" /></div>
						<span>附件2</span>
						<a href="javascript:" class="dl">下载</a>
					</li>

					<li>
						<div class="img_box"><img src="http://ofjpktbeg.bkt.clouddn.com/file_03.png" /></div>
						<span>附件2</span>
						<a href="javascript:" class="dl">下载</a>
					</li>
					<li>
						<div class="img_box"><img src="http://ofjpktbeg.bkt.clouddn.com/file_03.png" /></div>
						<span>附件2</span>
						<a href="javascript:" class="dl">下载</a>
					</li>

				</ul>
			<div class="tips ">
				<p>
					您还没有登录,暂时不能接包或发包,请
					<span class="login">
						<a href="javascript:">登录</a>
					</span>
				</p>
				<div class="close "></div>
			</div>

			</div>

		</div>

		<div id="footer">

			<div class="info">
				<ul class="clearfix">

					<li>
						<a href="javascript:">
							<p>新手指南</p>
							<p class="n">Newbie guide</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>帮助中心</p>
							<p class="n">Help center</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>规则中心</p>
							<p class="n">Rules of the center</p>
						</a>
					</li>
					<li>
						<a href="javascript:">
							<p>关于我们</p>
							<p class="n">About us</p>
						</a>
					</li>

				</ul>

			</div>
			<div class="bottom">
				<p>云南小土豆机器人科技有限公司</p>
				<p>Copyright © 2015-2016  All Rights Reserved.京ICP备23890840号</p>
			</div>
		</div>

	</div>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="scripts/page.js"></script>

</body>
</html>