/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }

  100% {
    height: 8px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }

  100% {
    height: 8px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }

  100% {
    height: 8px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 14px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 14px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 14px;
  }
}


.check-box {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 2px;
  background-color: #00c5ff;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 20%;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}
.check-box::before {
  top: 9px;
  left: 7px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
    box-shadow: 0 0 0 3px #fff;

}
.check-box::after {
  top: 4px;
  left: 1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #00c5ff;
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 1px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {

  -moz-animation: dothatopcheck 0.2s ease 0s forwards;
  -o-animation: dothatopcheck 0.2s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.2s ease 0s forwards;
  animation: dothatopcheck 0.2s ease 0s forwards;
}




.check-radio{
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 1px solid #00c5ff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
input[type=radio]+.check-radio span{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top:3px;
  left: 3px;
  -webkit-transition: all 0.3s ;
  -o-transition: all 0.3s ;
  transition: all 0.3s ;


}
input[type=radio]:checked+.check-radio span{
  background-color: #00c5ff;
}

#cbtest{
  display: none;
}