.right_box{
	width: 990px;
	height: auto;
	box-sizing: border-box;
	padding-left: 35px;
	padding-top: 100px;
}

 .right_box figure>img{
	width: 100px;
	height: 100px;

}

 .right_box figure{
	width: 500px;
	position: relative;
}

 .right_box figure figcaption{
	width: 380px;
	height: auto;
	position: absolute;
	right: 0;
	top:0;
}
 .right_box figure figcaption>p{
	color: #666666;
	font-size: 14px;
	line-height: 28px;
}
 .right_box figure figcaption>p:last-child{
	margin-top: 20px;
}
 .right_box figure figcaption>p:last-child span{
		color: #adadad;

}
 .right_box figure figcaption a{
	font-size: 14px;
	color: #4242ff;
		display: inline-block;
	float: right;
	margin-left: 30px;

}

 .right_box figure figcaption a:hover{
	text-decoration: underline;

}

 .right_box figure figcaption h3.user_name{
	font-size: 18px;
	line-height: 34px;
}
