.user_ac .warning{
	text-align: left;
	margin-left: 145px;
	font-size: 12px;
	color: red;
		margin-bottom: 10px;

}
.user_ac
{
	width:480px;
	height: auto;
	box-sizing: border-box;
	padding-top: 100px;
	text-align: center;
	margin-left: 360px;


	font-size: 14px;
}
.user_ac .title{
	width: 300px;
	margin-left: 145px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 30px;
	font-size: 22px;
}

.user_ac>p:not(.warning){
	margin-bottom: 30px;
}
.user_ac>p>label{
	width:100px;
	text-align: right;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	color: #333;
		margin-right: 10px;

}
.user_ac input[type=text],
.user_ac input[type=password]{
	width:300px;
	height: 35px;
	box-sizing: border-box;
	padding: 0 10px;
	border:1px solid #eaeaea;
	line-height: 35px;
	font-size: 14px;
}
.user_ac .p_box{
		width:300px;
		display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: left;
}
.user_ac input[type=text]:focus{
	border:1px solid #eaeaea;
	box-shadow: 0 0 3px #ccc;
}

.reg input[type=button].login_btn{

	width:130px;
	height: 40px;
	box-sizing: border-box;
line-height: 40px;
background-color: #00c5ff;
font-size: 16px;
cursor: pointer;

background-color: #fff;
border:1px solid #00c5ff;
color:#00c5ff;


}
.reg input[type=submit].reg_btn{
margin-left: 105px;

background-color: #00c5ff;
	border:none;
	color:#fff;	

}

.reg input[type=submit]{
	width:130px;
	height: 40px;
	box-sizing: border-box;
line-height: 40px;
background-color: #00c5ff;
font-size: 16px;
cursor: pointer;

}



.user_ac input[type=submit]:hover{
	opacity: 0.8;
}
.readme_box{
	font-size: 12px;
	margin-top: 15px;
	width: 300px;
	text-align: left;
	margin-left: 170px;
	height: 20px;
	line-height: 20px;

}
.readme_box input[type=checkbox]

{
	vertical-align: middle;
}

.msg_val {
	position: relative;
}
.msg_val .send_msg a{
position: absolute;
right: 40px;
top:1px;
height:32px;
width: 80px;
line-height: 34px;
font-size: 14px;
background-color: #fff;
margin-top: 1px;

}
.msg_val .send_msg a{
	color: #0029FC ;

}
.msg_val .send_msg a:hover{
	text-decoration: underline;
}
.msg_val .send_msg::before{
	content: '';
	height: 20px;
	width: 1px;
	background-color: #eaeaea;
	display: inline-block;
	position: absolute;
	top:8px;
	right: 120px;
	z-index: 99;
}

.form_box{
	padding-bottom: 150px;
}